---

- name: Install WireGuard (Debian)
  check_mode: no
  become: true
  apt:
    name: wireguard
  when: ansible_facts["distribution_release"] == "bullseye" or ansible_facts["distribution_release"] == "bookworm" or ansible_facts["distribution_release"] == "focal"
  tags: [wireguard]

- name: Install WireGuard (RedHat)
  check_mode: no
  become: true
  yum:
    name: ['kmod-wireguard','wireguard-tools']
  when: ansible_facts["os_family"] == "RedHat"
  tags: [wireguard]
