---

- name: Add backports repository (Debian)
  become: true
  copy:
    content: "deb http://deb.debian.org/debian buster-backports main\n"
    dest: /etc/apt/sources.list.d/backports.list
  when: ansible_facts["distribution"] == 'Debian'
  notify: backports-apt-get-update
  tags: [wireguard]

- meta: flush_handlers
  tags: [wireguard]

- name: Install Linux kernel headers
  become: true
  apt:
    name: linux-headers-amd64
  when: ansible_facts["distribution"] == 'Debian'
  tags: [wireguard]

- name: Install WireGuard (Debian)
  become: true
  apt:
    name: wireguard
  when: ansible_facts["distribution"] == 'Debian'
  tags: [wireguard]
