---

- include_tasks: install.yml
  tags: [wireguard]

- include_tasks: install_backports.yml
  when: ansible_facts["distribution_release"] == "buster"
  tags: [wireguard]

- name: Setup interface and peers
  become: true
  template:
    src: interface.conf.j2
    dest: "/etc/wireguard/{{ wireguard_interface }}.conf"
    owner: root
    group: root
    mode: 0600
  when: wireguard_private_key != "" and wireguard_peers and (wireguard_peers | length > 0)
  notify: restart wireguard
  tags: [wireguard]

- name: Enable and start WireGuard service
  become: true
  service:
    name: "wg-quick@{{ wireguard_interface }}"
    state: started
    enabled: true
  when: wireguard_private_key != "" and wireguard_peers and (wireguard_peers | length > 0)
  tags: [wireguard]

- name: Generate client configs
  become: true
  template: src=client.conf.j2 dest=/etc/wireguard/{{ item.pub | checksum }}.client
    mode=0600
  when: item.key is defined
  with_items: "{{ wireguard_peers }}"
  tags: [wireguard]
