---

- name: backports-apt-get-update
  become: true
  apt:
    update_cache: true

- name: restart wireguard
  become: true
  service:
    name: "wg-quick@{{ wireguard_interface }}"
    state: restarted
